.search-input {
    width: 245px;
    height: 37px;
    border: none;
    border-radius: 8px;
    padding-left: 52px;
    padding-right: 45px;
    font-family: 'Inter-Medium';
    font-size: 14px;
    background-color: white;
}

.search-input::placeholder {
    color: #C0BBBB;
}